Django>=4.2,<5.0
djangorestframework>=3.14.0
django-cors-headers>=4.0.0
python-dotenv>=1.0.0
Pillow>=10.0.0
whitenoise>=6.5.0
dj-database-url>=2.2.0
gunicorn
psycopg2-binary
django-otp==1.5.4
pyotp==2.9.0
firebase-admin==6.4.0